.Header {
  position: sticky;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--secondary-font-reg);
  margin: 0;
  padding: 1rem 3rem;
  border-top: 2px solid #FFF;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom: 0px solid white;
  -webkit-box-shadow: 0px 10px 26px -15px rgba(255,0,255,0.6);
  -moz-box-shadow: 0px -5px 26px -15px rgba(255,0,255,0.6);
  box-shadow: 0px -4px 5px rgba(255,0,255, 0.75), inset 0px 7px 3px -7px rgba(255,0,255, 0.75);
  .Order {
    margin-right: 1rem;
    font-family: var(--third-font-reg);
  }
}
@media screen and (max-width: 768px) {
  .Header {
    // transform: translateY(50%);
  }
}
