  // background-color: var(--main-font-color-highlight);

.ImageContainer{
  mix-blend-mode: difference;

}
.Container{
  position: fixed;
  top:0%;
  left:0;
  right:0;
  bottom:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: all 1.5s ease-in;
  background-repeat: no-repeat;
  background-size: cover;

  div:first-child {
    height: 100%;
    width: 100%;
  }
  
  video {
    width: 100%;
    height: 100%;
    // height: auto;
    object-fit: cover;
    object-position: center;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 0;
    opacity: 1;
    display: block;
    filter: saturate(100%) brightness(1);
  }

  
  filter: saturate(100%) brightness(1);
  // transition-delay: 2.7s;

}

.On{
  opacity: 1;
  top: 0;
}
.Opaque{
  position: fixed;
  opacity: 1;
  width: 300px;
  height: 300px;
  max-width: 50%;
  object-fit: contain;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.TransparentVideo{
  // opacity: 0;
  filter: grayscale(0) invert(1);
}
.Transparent{
  position: fixed;

  opacity: 0;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  object-fit: contain;
  z-index: 99;

  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Off{
  opacity: 0;
  background-color: rgba(0,0,0,0);
  // mix-blend-mode: difference;
  filter: saturate(300%) brightness(5);
  // top: 200%;
}
