.SwiperTop {
  // height: 90vh;
  // width: 100%;

  .GallerySlide {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    overflow: hidden;
    width: inherit !important;
    height: inherit !important;
    img {
      width: 100% !important;
      max-height: 100%;
      object-fit: cover;
    }

    video {
      position: relative;
      height: 100% !important;
      width: 100% !important;
      top: 0;
      object-fit: cover !important;
    }
  }
}
.ThumbSwiper {
  height: 9vh;
  padding: 0.5vh !important;
  bottom: 0;
  z-index: 5;
  opacity: 0.7;
  overflow-y: scroll;
  flex-shrink: 100 !important;
  .Scrubber {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-font-color-highlight);
    height: 100%;
    width: 2px;
  }
  .ThumbSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--main-font-color);
    overflow: hidden;
    flex-shrink: 0 !important;
    flex-grow: 0 !important;
    // width: fit-content !important;
    -webkit-logical-width: fit-content !important;

    img {
      width: 100%;
      height: 10vh;
      object-fit: cover !important;
      -webkit-logical-width: max-content !important;
    }
  }
}
.CarouselContainer{
  position: relative;
  z-index: 0;

}
.Controls {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  opacity: 0.5;
  button {
    background-color: var(--main-font-color);
    font-family: var(--sepcial-font-display);
    border: 0.1rem solid var(--secondary-bg-color);
    color: var(--secondary-bg-color);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 6rem;
    &:hover {
      opacity: 1 !important;
      color: var(--main-font-color-highlight);
      cursor: none;
    }
  }
}
