//font face for the 2 ttf files in this folder

@font-face {
  font-family: "displdts";
  src: url("displdts-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DOTMATRI";
  src: url("dotmatri-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}
