.Container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--secondary-font-reg);
  padding: 1rem 1rem 1rem 3rem;
  border-top: 2px solid #FFF;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom: 0px solid white;
  -webkit-box-shadow: 0px 10px 26px -15px rgba(255,0,255,0.6);
  -moz-box-shadow: 0px -5px 26px -15px rgba(255,0,255,0.6);
  box-shadow: 0px -4px 5px rgba(255,0,255, 0.75), inset 0px 7px 3px -7px rgba(255,0,255, 0.75);
  .Header {
    // padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    .lineTwo {
      display: inline-flex;
      font-family: var(--detail-font);
      font-size: 0.75rem;
    }
    span {
      display: flex;
      // margin: 0.5rem 0;
    }
    @media screen and (max-width: 768px) {
      // display: none;
    }
  }
  .Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 1rem;
    margin-bottom: 1em;
    width: 6rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 768px) {
  .Container {

    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;

  }
}