.Modal {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 10rem;
  height: 10rem;
  z-index: 10;
  
}


.BackModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  z-index: 10;
}

.Row{
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Redirect{
 
  border-radius: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid var(--main-font-color);
  width: fit-content;
  position: relative;
}
