.ArrowButton{
  position: absolute;
  width: 40%;
  top:0;
  background: rgba(0,0,0, 0);
  height: 100%;
  z-index: 1;
}

.SwiperTop {
  height: 50vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;

 
  .GallerySlide {
    display: flex;
    justify-content: center;
    align-content: center;
    // overflow: hidden;
    background-color: var(--main-bg-color);
    width: 100% !important;
    height: 50vh !important;
    border-radius: 2rem;

    div{
      display: flex;
      justify-content: center;
      align-content: center;
        
      height: 100%;
      // width: 100%;
      // img{
      //   object-fit: contain;
      // }
      // .video{
      //   object-fit: cover;
      // }
    }

    video {
      // width: 100% !important;
      max-height:50vh;
      // height: 75vh !important;
      width: fit-content;
      max-width: 100%;
      object-fit: cover;

      border-radius: 2rem;
      // border: 5px solid  red;
    }
    img {
      // width: 100% !important;
      max-height:50vh;
      // height: 75vh !important;
      width: 100%;
      max-width: 100%;
      object-fit: cover;

      border-radius: 2rem;
      // border: 5px solid  red;
    }


    // video {
    //   position: relative;
    //   height: 100% !important;
    //   width: 100% !important;
    //   top: 0;
    //   object-fit: cover !important;
    //   border-radius: 2rem;
    //   // border: 10px solid  blue;

    // }
  }
}
.InfoDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
  p{
    font-size: var(--reg-font-size-mobile);
    margin: 0;
  }
}


.CarouselContainer{
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: calc(66% - 4rem);
  padding: 1rem;
}
.WorkCarouselContainer{
  margin-top: 5rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.Container {
  font-family: var(--secondary-font-reg);
  padding-bottom: 200px;

  .Content {
    // border-top: 1px solid var(--main-font-color);
    // &:last-child {
    //   border-bottom: 1px solid var(--main-font-color);
    // }
    display: flex;
    flex-direction: row;
    .Category {
      width: 33%;
      display: flex;
      flex-direction: column;

      // align-items: center;
      // justify-content: center;
      // border-right: 1px solid var(--main-font-color);
      h2 {
        position: sticky;
        padding-left: 3rem;
        top: 50%;
        font-size: var(--reg-font-size-mobile);
        margin: 0;
      }

    }


  }
}


@media screen and (max-width: 768px) {
  .Container {
    font-family: var(--secondary-font-reg);
    padding: var(--container-margin);
    padding-bottom: 200px;

  
    .Content {
      display: flex;
      flex-direction: column;
      padding: 0;
      .Category {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        // border-right: 1px solid var(--main-font-color);
        h2 {
          position: relative;
          padding: 0;
          top:0;
          font-size: var(--reg-font-size-mobile);
          margin: 0;
      
        }
  
      }
    

    }
  }

}



@media screen and (max-width: 768px) {

  .CarouselContainer{
    position: relative;
    z-index: 0;
    overflow: visible;
    width: calc(100% );

    padding: 0rem;
  }
  .SwiperTop {
    height: fit-content;
    width: 100%;
  
    .GallerySlide {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      position: relative;
      overflow: hidden;

      // width: inherit !important;
      // height: 100% !important;

      
 
  
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1 / 1;
      }
  
      video {
        position: relative;
        height: 100% !important;
        width: 100% !important;
        top: 0;
        object-fit: cover !important;
        border-radius: 2rem;  
        aspect-ratio: 1 / 1;

      }
    }
  }
  .InfoDiv{
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    a,
    h3,
    span,
    h4, p{
      margin:0;
      font-size: var(--reg-font-size-mobile);
      font-weight: 705;
      line-height: 26px;
      letter-spacing: 0.02em;
    }
  }
  
  .WorkCarouselContainer{
    margin-top: 5rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
  
  
}