.Wrapper {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  padding: 1rem 3rem;

  font-family: var(--secondary-font-reg);
  background-color: var(--main-bg-color);
  overflow-x: hidden;

  .TitleContainer {
    border-bottom: 1px solid var(--main-font-color);
    // margin: 1rem 2rem;
    font-size: 0.75rem;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
    span {
      margin-right: 1rem; 
      font-family: var(--third-font-display);
    }
  }
  .Container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    justify-items: center;
    .LogoWrapper {
      // filter: brightness(1);
      height: fit-content;
      width: fit-content;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;

      img {
        width: 100%;
        height: 100%;
      
        // max-width: 10rem;
        object-fit: contain;
        // transition: opacity 0.15s ease-in-out;
      }
      // &:hover {
      //   filter: brightness(1.2);
      //   background-color: var(--secondary-bg-color);
      //   transition: filter 0.3s ease-in-out;
      // }
    }
  }
}

@media screen and (max-width: 768px) {
  .Wrapper {
    position: relative;
    // margin-top: -1rem;
    font-family: var(--secondary-font-reg);
    background-color: var(--main-bg-color);
    overflow-x: hidden;

    .Container {
      grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(7.5rem, 1fr));
      gap: 1rem;
      justify-items: center;
      .LogoWrapper {
        filter: brightness(1);
        height: 7.5rem;
        width: 7.5rem;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          img {
            opacity: 0.5;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          // transition: opacity 0.15s ease-in-out;
        }
        &:hover {
          filter: brightness(1.2);
          background-color: var(--secondary-bg-color);
          // transition: filter 0.3s ease-in-out;
        }
      }
    }
  }
}
