.Container {
  padding: var(--container-margin) var(--container-margin) 6rem var(--container-margin) ;


  // margin-bottom: -10rem;
}
.SingleWork{
  padding-top: 3rem;
  h3{
    height: fit-content !important;
  }
}
@media screen and (max-width: 768px) {
  .Container {
   padding: 1rem 1rem 10rem 1rem;
  }
}
