.Container {
  padding: 6.1rem 3rem 1rem 3rem;


  // margin-bottom: -10rem;
}
.SingleWork{
  padding-top: 4.5rem;
  h3{
    height: fit-content !important;
  }
}
@media screen and (max-width: 768px) {
  .Container {
   padding: 1rem 1rem 10rem 1rem;
  }
}
