.Canvas {
  position: fixed;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  z-index: 6;
}


@media only screen and (min-width: 600px){
  .Canvas {
    top: 50%;
    transform: translate(0,-50%);
    width: 7rem;
    height: 7rem;
  }
}
