@font-face {
    font-family: 'MonospaceTypewriter';
    src: url('MonospaceTypewriter.woff2') format('woff2'),
        url('MonospaceTypewriter.woff') format('woff'),
        url('MonospaceTypewriter.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

