.Container {
  position: fixed;
  padding: 0 3rem;
  display: flex;
  flex-direction: row;
  right:0;
  left:0;
  font-size: 0.75rem;
  background-color: var(--main-bg-color);
  -ms-animation: blink 0.1s ease infinite; 
  -webkit-animation: blink 0.1s ease infinite; 
  -moz-animation: blink 0.1s ease infinite;
  animation: blink 0.1s ease infinite;
  animation-iteration-count: 100;
  border-top: 2px solid #FFF;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom: 0px solid white;
  -webkit-box-shadow: 0px 10px 26px -15px rgba(255,0,255,0.6);
  -moz-box-shadow: 0px -5px 26px -15px rgba(255,0,255,0.6);
  box-shadow: 0px -4px 5px rgba(255,0,255, 0.75), inset 0px 7px 3px -7px rgba(255,0,255, 0.75);
  justify-content: space-between;
  overflow: hidden;
  z-index: 17;
  button {
    background-color: rgba(0,0,0,0);
    border: none;
    font-family: var(--third-font-reg);
    color: var(--main-text-color);
    cursor:none;
    &:hover {
      color: var(--secondary-text-color);
    }
  }
}
@keyframes blink {
  0% {
    background-color: black;
  }
  100% {
    background-color: var(--main-font-color-highlight);
  }
}
@media screen and (max-width: 768px) {
  .Container {

    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;

  }
}
