.Container {
  padding: 2rem;
  border-radius: 1rem;
  flex-direction: column;
  overflow: hidden;
  h1{
    padding-left: 1rem;
  }
  .Content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    position: relative;
    opacity: 0.7;
    .RichText {
      padding: 1rem;
      &:first-child {
        border-left-width: 0;
        border-top-width: 0;
      }
      &:nth-child(2) {
        border-left-width: 0;
        border-top-width: 0;
        border-right-width: 0;
      }
      &:nth-child(3) {
        border-left-width: 0;
        border-top-width: 0;
        border-right-width: 1;
        border-bottom-width: 0;
      }
      &:last-child {
        border-top-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        border-right-width: 0;
      }
   

      border: 0.1rem solid var(--main-font-color);
    }
  }
}

@media screen and (max-width: 768px) {
  .Container{
    h1{
      padding-left: 0;
    }
    .Content{
      .RichText {
        // width: 100%;
        max-width: 60%;
        padding: 0;
        p{
          max-width: 100%;
        }
    
        border: 0rem solid var(--main-font-color);
      }
    }
  }
 
}