.Container {
  font-family: var(--secondary-font-reg);
  svg {
    width: 100%;
    height: 100%;
    path {
      transition: all 0.5s ease-in-out;
      fill: var(--secondary-bg-color) !important;
      &:hover {
        fill: var(--main-font-color-highlight) !important;
        transition: all 0.5s ease-in-out;
      }
    }
  }
  .Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    font-size: 0.75rem;
    border-top: 1px solid var(--main-font-color);
    span {
      font-family: var(--third-font-display);
      margin-right: 1rem;
    }
  }
  .Content {
    border-top: 1px solid var(--main-font-color);
    &:last-child {
      border-bottom: 1px solid var(--main-font-color);
    }
    display: flex;
    flex-direction: row;
    .Category {
      width: 33% !important;
      display: flex;
      flex-direction: column;
      // align-items: center;
      // justify-content: center;
      border-right: 1px solid var(--main-font-color);
      h2 {
        position: sticky;
        padding-left: 1rem;
        top: 50%;
      }
    }
    .Description {
      // padding: 1rem;
      width: 66% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .DescriptionWImage {
        padding: 1rem;
      }
      .Image {
        // width: 100%;
        // height: 100%;
        // overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .List {
      padding: 1rem;
      width: calc(66% - 4rem);
      ul {
        padding: 0;
        li {
          background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.4) 12.5%,
            rgba(255, 255, 255, 0) 0%
          );
          background-position: bottom;
          background-size: 8px 1px;
          background-repeat: repeat-x;
          background-position: -0.225rem 0;
          padding: 1rem 0;
          transform: translateX(0rem);
          transition: transform 0.5s ease-in-out;
          &:hover {
            transform: translateX(0.5rem);
            transition: transform 0.7s ease-in-out;
          }
        }
      }
    }
  }
}
