.VideoWrapper{
    height:100%;
    div{
        padding: 0!important;
    }
    
}
.VideoWrapperInWork{
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    // .VideoWrapper{
    //     max-height:150px;
    // }
    .VideoWrapperInWork{
        max-height: 90%;
    }

  }
  