@import "/assets/fonts/displdts/displdts.scss";
@import "/assets/fonts/sf-mono-cufonfonts-webfont/style.scss";
@import "/assets/fonts/LetterGothic/LetterGothic.scss";
@import "/assets/fonts/Xanh_Mono/XanhMono.scss";
@import "/assets/fonts/bainshidai/bianzhidai.scss";
@import "/assets/fonts/CopperHewitt_Book/CooperHewitt-Book.scss";
 
:root {

  ///main scheme
  --main-font-color: #FFF;
  --main-font-color-highlight: #ff9999;
  --main-border-glow-color:#ff9999;
  --main-bg-color: lightgrey;
  --secondary-bg-color: #4e464c;

    ///second scheme
    // --main-font-color: white;
    // --main-font-color-highlight: #1AFF00;
    // --main-border-glow-color:#1AFF00;
    // --main-bg-color: #4e464c;
    // --secondary-bg-color: #4e464c;

       ///third scheme
      //  --main-font-color: black;
      //  --main-font-color-highlight: #00EEFF;
      //  --main-border-glow-color:#00EEFF;
      //  --main-bg-color: rgb(171, 171, 171);
      //  --secondary-bg-color: #4e464c;
       
       ///black/white scheme
      //  --main-font-color: white;
      //  --main-font-color-highlight: grey;
      //  --main-border-glow-color:grey;
      //  --main-bg-color: black;
      //  --secondary-bg-color: #4e464c;


      //  --main-font-color: white;
      //  --main-font-color-highlight: #7AFFAF;
      //  --main-border-glow-color:#7AFFAF;
      //  --main-bg-color: #ffacf5;
      //  --secondary-bg-color: #FF7CF0;
  --display-font: "SF Mono Bold";
  // --regular-font: "SF Mono Regular";
  --regular-font : 'Cooper Hewitt Book';
  --secondary-font-reg: 'Cooper Hewitt Book';
  // --secondary-font-reg: "Xanh Mono Regular";
  --secondary-font-italic: "Xanh Mono Italic";
  --third-font-display: "Letter Gothic Bold";
  --third-font-display-italic: "Letter Gothic Bold Slanted";
  --third-font-reg: "Letter Gothic Medium";
  --third-font-italic: "Letter Gothic Slanted";
  --detail-font: "SF Mono Light";
  --hero-font: "Sf Mono Bold Italic";
  --mix-blend-mode: luminosity;
  --special-font-regular: "Displdts";
  --special-font-display: "DOTMATRI";
  --bubble-font: "displdts";
}
video{
  background: var(--main-bg-color);
  background-color: var(--main-bg-color);
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  cursor: none;
  //no text highlighting
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}
*::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  background-color: var(--main-bg-color);
  font-family: var(--regular-font);
  font-weight: 500;
  color: var(--main-font-color);
  font-style: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--main-font-color);
  text-decoration: none;
  &:hover {
    color: var(--main-font-color-highlight);
    // mix-blend-mode: difference;
  }
  cursor: none;
}

.body{
  // width: 100%;
  top:0;
  left:0;
  right: 0;
  padding-top: 3rem;
  bottom: 0;
  overflow-y: scroll;
  position: fixed;
  z-index: 0;
  // overflow:visible;
  // margin: 0;
}
.logo{
  transition: all 1s ease-in-out;
}
.logo:hover{
 
  filter: invert(35%) sepia(79%) saturate(4001%) hue-rotate(286deg) brightness(104%) contrast(108%)  blur(20px);
  fill:#4e464c

}

section:not(:has(.VideoHero_Container__djQMy)){
  background-color: var(--main-bg-color);
  padding-bottom: 10rem;
  margin-bottom: -10rem;
}

ul {
  list-style: none;
  // padding: 0;
  margin: 0;
}

.swiper {
  .swiper-slide {
    width: max-content !important;
    max-width: 100vw !important;
    //parent container
  }
}

.swiper-slide-thumb-active {
  border: 0.1rem solid var(--main-font-color-highlight) !important;
}

/* Fix the control bar due to us resetting the line-height on the video-js */
