@import "/assets/fonts/displdts/displdts.scss";

@import "/assets/fonts/CopperHewitt_Book/CooperHewitt-Book.scss";
 
:root {
  --bubble-font: "displdts";
  --secondary-font-reg: 'Cooper Hewitt Book';
  --regular-font : 'Cooper Hewitt Book';

  ///main scheme
  --main-font-color: #828282;
  --main-font-color-highlight: #ff9999;
  --main-border-glow-color:#ff9999;
  --main-bg-color: lightgrey;
  --secondary-bg-color: #4e464c;


  --container-margin: 0.75rem;
  --reg-font-size-mobile: 20px;
}
video{
  background: var(--main-bg-color);
  background-color: var(--main-bg-color);
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  // cursor: none;
  //no text highlighting
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}
*::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  background-color: var(--main-bg-color);
  font-family: var(--regular-font);
  font-weight: 500;
  color: var(--main-font-color);
  font-style: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--main-font-color);
  text-decoration: none;
  &:hover {
    color: var(--main-font-color-highlight);
    // mix-blend-mode: difference;
  }
  cursor: none;
}

.body{
  // width: 100%;
  top:0;
  left:0;
  right: 0;
  padding-top: 3rem;
  bottom: 0;
  overflow-y: scroll;
  position: fixed;
  z-index: 0;
  // overflow:visible;
  // margin: 0;
}


// section:not(:has(.VideoHero_Container__djQMy)){
//   background-color: var(--main-bg-color);
//   padding-bottom: 10rem;
//   margin-bottom: -10rem;
// }

ul {
  list-style: none;
  // padding: 0;
  margin: 0;
}

.swiper {
  .swiper-slide {
    width: max-content !important;
    max-width: 100vw !important;
    //parent container
  }
}



/* Fix the control bar due to us resetting the line-height on the video-js */




